h1 {
    text-align: center;
    font-family: "Playwrite CU", cursive;
    color: #4d4d4d;
    font-weight: 200;
    font-size: 24px;
    margin-top: 36px;
}

p {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    color: #4d4d4d;
    font-size: 12px;
    margin-top: 5px;
}

html {
    background-color: #fedaff;
    justify-content: center;
}

.calc-body {
    background-color: #f2f5f7;
    margin: auto;
    margin-top: -15px;
    width: 300px;
    height: 500px;
    padding: 20px;
    border: #4d4d4d solid 1px;
    border-radius: 45px;
}

.num-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.op {
    border: 2px solid blue;
    background-color: light-blue;
}

.display {
    width: auto;
    height: 75px;
    background-color: #4d4d4d;
    margin: 10px; 
    border-radius: 25px;
    color: #f2f5f7;
    padding: 10px;
    text-align: right;
}
.num-row {
    display: flex;
    justify-content: center;;
}

.num-blue {
    background-color: #b6d0ff;
    color: #4d4d4d;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    border: #4d4d4d solid 1px; 
}

.num-pink {
    background-color: #ffb3ff;
    color: #4d4d4d;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    border: #4d4d4d solid 1px;
}

.num-purple {
    background-color: #d197fe;
    color: #4d4d4d;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    border: #4d4d4d solid 1px;
}

.num-green {
    background-color: #a4feaf;
    color: #4d4d4d;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    border: #4d4d4d solid 1px;
}

.num-orange {
    background-color: #ffc587;
    color: #4d4d4d;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    border: #4d4d4d solid 1px;
}
.num {
    border: 2px solid red;
    border-radius: 50px;
    font-size: 20px;
    padding: 40px;
    background-color: lightsalmon
}

.num-row {
    display: flex;
    flex-direction: row;
}