h1 {
    text-align: center;
    font-family: "Playwrite CU", cursive;
    color: #4d4d4d;
    font-weight: 200;
    font-size: 36px;
    margin-top: 36px;
}

p {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    color: #4d4d4d;
    font-size: 12px;
    margin-top: 5px;
}

body {
    background-image: linear-gradient(#fedaff, #f8ffda);
    justify-content: center;
}

.calc-body {
    background-color: #f2f5f7;
    margin: auto;
    margin-top: -15px;
    width: 300px;
    height: 500px;
    padding: 20px;
    border: #4d4d4d solid 1px;
    border-radius: 45px;
}

.num-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.op {
    border: 2px solid blue;
    background-color: light-blue;
}

.display {
    width: auto;
    height: 75px;
    font-family: "Varela Round", sans-serif;
    font-size: 24px;
    background-color: #4d4d4d;
    margin: 10px; 
    border-radius: 25px;
    color: #f2f5f7;
    padding: 10px;
    text-align: right;
}
.num-row {
    display: flex;
    justify-content: center;;
}

.num-blue {
    background-color: #edf3ff;
    color: #4d4d4d;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    border: #4d4d4d solid 1px; 
}

.num-blue:hover {
    background-color: #f2f5f7;
}

.num-pink {
    background-color: #ffdaff;
    color: #4d4d4d;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    border: #4d4d4d solid 1px;
}


.num-pink:hover {
    background-color: #f2f5f7;
}

.num-purple {
    background-color: #e7c7ff;
    color: #4d4d4d;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    border: #4d4d4d solid 1px;
}


.num-purple:hover {
    background-color: #f2f5f7;
}

.num-green {
    background-color: #d3fed8;
    color: #4d4d4d;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    border: #4d4d4d solid 1px;
}

.num-green:hover {
    background-color: #f2f5f7;
}

.num-orange {
    background-color: #ffe7cd;
    color: #4d4d4d;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    border: #4d4d4d solid 1px;
    box-shadow: 2px;
}

.num-orange:hover {
    background-color: #f2f5f7;
}

.num-row {
    display: flex;
    flex-direction: row;
}