h1 {
    text-align: center;
    font-family: "Playwrite CU", cursive;
    color: #4d4d4d;
    font-weight: 200;
    font-size: 36px;
    margin-top: 36px;
}

p {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    color: #4d4d4d;
    font-size: 12px;
    margin-top: 12px;
}

html {
    background-color: #ebe2f2;
    justify-content: center;
    user-select: none;
    margin: auto;
}

.calc-body {
    background-color: #f2f5f7;
    margin: auto;
    margin-top: -25px;
    width: 400px;
    height: 500px;
    padding: 20px;
    border: #4d4d4d solid 2px;
    border-radius: 45px;
}

.num-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.op {
    border: 2px solid blue;
    background-color: light-blue;
}

.display {
    width: auto;
    height: 75px;
    font-family: "Varela Round", sans-serif;
    font-size: 24px;
    background-color: #4d4d4d;
    word-wrap: break-word;
    margin: 10px; 
    border-radius: 25px;
    color: #f2f5f7;
    padding: 10px;
    text-align: right; 
}

.num-row {
    display: flex;
    justify-content: center;
    align-content: stretch;
    padding-top: 5px;
}

.num-blue, 
.num-pink,
.num-orange,
.num-green,
.num-purple {
    border: #4d4d4d solid 2px;
    width: 100%;
    height: 60px;
    gap: 15px;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    border-radius: 30px;
    margin: 5px;
}

.num-blue {
    background-color: #edf3ff;
    color: #4d4d4d;
}

.num-blue:hover {
    background-color: #f2f5f7;
}

.num-pink {
    background-color: #ffdaff;
    color: #4d4d4d;
}

.num-pink:hover {
    background-color: #f2f5f7;
}

.num-purple {
    background-color: #e7c7ff;
    color: #4d4d4d;
}

.num-purple:hover {
    background-color: #f2f5f7;
}

.num-green {
    background-color: #d3fed8;
    color: #4d4d4d;
}

.num-green:hover {
    background-color: #f2f5f7;
}

.num-orange {
    background-color: #ffe7cd;
    color: #4d4d4d;
}

.num-orange:hover {
    background-color: #f2f5f7;
}
